.header-container {
  display: flex;
  align-items: center;
  z-index: 999;
}

.logo {
  height: 30px;
  z-index: 999;
}

#nav-button {
  color: white !important;
  font-size: 3vh !important;
  position: relative;
  left: 5vh;
}
.drop{
  color: black !important;
  font-size: 3vh !important;
  text-decoration: none !important;

}
#nav-button:hover {
  color: aqua !important;
}

.library-menu {
  margin-top: 1.5vh;
  border-radius: 2vh;
  opacity: 0.8;
  z-index: 1000;  
}

.search-input {
  height: 6vh;
  width: 18vw;
  border-radius: 4vh !important;
  border: none;
  padding-left: 2vw;
  background-color: white;
  font-size: 18px;
  margin-left: 30vw;
}

.person-button {
  color: white !important;
  font-size: 18px;
  padding: 1.5vh;
  border-radius: 4vh;
}